body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    padding: 1px;
    color: #893168;
    background: linear-gradient(to right, #ffa5ab, #da627d);
}

h1 {
    text-shadow: 0.1em 0.1em 0.1em #ffafcc;
}

#titulo-principal {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #4a1942;
}

#explicacao {
    display: inline;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

#div-h2-mais-input {
    text-align: center;
    padding: 10px;
}


#offset-text {
    font-size: 45px;
    text-align: center;
    margin: 20px 10px 2px 10px;
}


#offset {
    height: 50px;
    width: 370px;
    font-size: 30px;
    padding: 15px;
    margin: 2px 10px 10px 10px;
    border-radius: 10px;
}

#div-com-caixas-de-texto {
    text-align:center;
}

#div-titulo-caixa-original, #div-titulo-caixa-cifrada {
    display: inline-block;
    margin: 20px;
}

.titulo-caixas {
    font-size: 45px;
    margin: 15px;
}

#mensagem-original, #mensagem-cifrada {
    padding: 30px;
    font-size: 30px;
    resize: none;
    border-radius: 10px;
}

#offset, textarea {
    background: #eaeaea;
    color: #a53860;
    box-shadow: 3px 5px 4px #450920;
    border: #450920;
}

footer {
    text-align: center;
    bottom: 10px;
    left: 10px;
}

a:hover {
    color: #ffafcc;
}
